[submodule "apps/qtcloud-media"]
	path = apps/qtcloud-media
	url = https://github.com/quanttide/qtcloud-media
[submodule "data/archive"]
	path = data/archive
	url = https://github.com/quanttide/quanttide-archive-of-social-media.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-social-media.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-social-media.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-social-media.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-social-media.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-social-media.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-social-media.git
[submodule "packages/quanttide-media-toolkit"]
	path = packages/quanttide-media-toolkit
	url = https://github.com/quanttide/quanttide-media-toolkit.git
